@charset "UTF-8";
body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: azure;
    width: 10%;
    height: 0px;
    
}
div{
    background-color: white;
    height:500px;
    width: 600px;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    
}
/*
https://gustavoguanabara.github.io/javascript/exercicios/
*/
